<!--=========== Main Menu Area ===============-->
<div class="left-side-area">
  <div class="sidemenu" id="sidebar">
    <!-- profile-picture-->
    <div class="profile">
      <a href="#">
        <img src="/assets/img/profile.jpg" alt="">
      </a>
    </div>
    <!-- menu-->
    <nav>
      <ul>
        <li><a class="current" href="/">Inicio</a></li>
        <li><a href="/about">Acerca de mi</a></li>
        <li><a href="/vlog">vlog</a></li>
        <li><a href="/expertise">Habilidades</a></li>
        <li><a href="https://medium.com/@paulomcnally">Blog</a></li>
        <li><a href="/contact">Contacto</a></li>
      </ul>
    </nav>
  </div>
</div>
