<!-- Jquery /assets/js -->
<script src="/assets/js/vendor/jquery-2.2.4.min.js"></script>
<!-- Bootstrap /assets/js -->
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Counter /assets/js -->
<script src="/assets/js/waypoints.min.js"></script>
<script src="/assets/js/counterup.min.js"></script>
<!-- Animation /assets/js -->
<script src="/assets/js/aos.min.js"></script>
<script src="/assets/js/animate-headline.js"></script>
<script src="/assets/js/backgroundMove.js"></script>
<!-- Particle /assets/js -->
<script src="/assets/js/particles.min.js"></script>
<script src="/assets/js/app.js"></script>
<!-- Owl Carousel /assets/js -->
<script src="/assets/js/owl.carousel.min.js"></script>
<!-- Scroll /assets/js -->
<script src="/assets/js/scrollUp.js"></script>
<script src="/assets/js/scrollspy.min.js"></script>
<!-- Magnific-popup /assets/js -->
<script src="/assets/js/magnific-popup.min.js"></script>
<!-- Masonry-grid /assets/js -->
<script src="/assets/js/imagesloaded.pkgd.min.js"></script>
<script src="/assets/js/isotope.pkgd.min.js"></script>
<!-- Main /assets/js -->
<script src="/assets/js/main.js"></script>
