---
layout: default
---

<!--=========== Work Area ===============-->
<section id="work" data-scroll-index="2">
  <div class="my-work-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
          <div class="section-heading">
            <h3>VIDEOS <span>RECIENTES</span></h3>
          </div>
        </div>
      </div>

      {% for items in site.data.vlog %}
      <ul class="list-unstyled video-list-thumbs row">
        {% for item in items.list %}

        <li class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
          <a
            href="https://www.youtube.com/watch?v={{ item.id }}"
            title="{{ item.title }}"
          >
            <img
              src="http://i3.ytimg.com/vi/{{ item.id }}/hqdefault.jpg"
              alt="{{ item.title }}"
              class="img-responsive"
              height="130px"
            />
            <h2>{{ item.title }}</h2>
            <span class="glyphicon glyphicon-play-circle"></span>
          </a>
        </li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
  </div>
</section>
